* {
  margin: 0;
  padding: 0;
}
h1,
h2,
h6,
p {
  padding: 0;
  margin: 0;
}
body {
  font-family: "Brown";
  color: #000;
}
html,
body {
  overflow-x: hidden;
}

/* background styles */

.blue-bg {
  background: #0052a2;
}

/* font styles */
.font-20-bold {
  font-weight: bold;
  font-size: 20px;
}
.font-12 {
  font-size: 12px;
}
.font-16 {
  font-size: 16px;
}
.font-35 {
  font-size: 35px;
}
.lh-24 {
  line-height: 24px;
}
.lh-25 {
  line-height: 25px;
}
.lh-26 {
  line-height: 26px;
}
.lh-27 {
  line-height: 27px;
}
.font-blue {
  color: #0052a2;
}
.font-white {
  color: #fff;
}

/* icon styles */
.icon-black {
  color: #010101;
}
.icon-size-5 {
  font-size: 5rem;
}

/* card styles */
.bg-white {
  background-color: #fff;
}
.card-shadow {
  box-shadow: 0px 11px 21px 5px rgba(0, 0, 0, 0.03);
}
.card-shadow2 {
  box-shadow: 0px 4px 15px 11px rgba(0, 0, 0, 0.05);
}
.br-20 {
  border-radius: 20px;
}

/* button styles */
.btn-padding {
  padding: 1.3rem 5rem;
}
.btn-blue-bg {
  background: #0052a2;
}
.btn-text {
  font-size: 26px;
  line-height: 31px;
}
.btn-border {
  border-radius: 57px;
}

/* border styles */
.border-btm {
  border-bottom: 1.4px solid #e5e5e5;
}
.border-r {
  border-right: 1.4px solid #e5e5e5;
}

/* intro individual elements styles */
.intro-fluid {
  background-image: url("./images/bg-top.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 100vh;
  position: relative;
}
.intro-text {
  padding-top: 147px;
}
.intro-text h1 {
  font-weight: bold;
  font-size: 48px;
  line-height: 58px;
}

.tags-container {
  position: absolute;
  bottom: 52px;
  left: 0;
  right: 0;
  width: 100%;
  margin: auto;
}
.tags {
  list-style: none;
  color: #fff;
}
.tags li {
  display: flex;
  align-items: center;
}
.tag-icon {
  font-size: 4rem;
}
.tag-text {
  font-weight: bold;
  font-size: 16px;
  line-height: 19px;
}

/* grow individual elements styles */
.grow-fluid {
  background: radial-gradient(
    59.49% 106.04% at 50% -64.55%,
    #b6e0f5 0%,
    rgba(182, 224, 245, 0.319757) 71.39%,
    rgba(182, 224, 245, 0) 100%
  );
}
.grow {
  padding: 115px 0;
}
.grow-card {
  padding: 0 70px 69px 70px;
  height: 100%;
}

/* teams individual elements styles */
.teams h2 {
  font-weight: bold;
  font-size: 35px;
}
.teams img {
  max-width: 100%;
}

/* training individual elements styles */
.training-fluid {
  background: radial-gradient(
    62.24% 110.94% at 50% -30.01%,
    #b6e0f5 0%,
    rgba(182, 224, 245, 0.319757) 71.39%,
    rgba(182, 224, 245, 0) 100%
  );
}
.training {
  padding-top: 110px;
}
.training h2 {
  font-weight: bold;
  font-size: 35px;
  line-height: 42px;
  padding-top: 12px;
}

.training-details {
  padding-top: 123px;
}
.training-pcnt {
  font-weight: bold;
  font-size: 35px;
  line-height: 42px;
}

/* why individual elements styles */
.why {
  padding-top: 140px;
  padding-bottom: 110px;
  background: radial-gradient(
    56.44% 71.2% at 50% 147.67%,
    #b6e0f5 0%,
    rgba(182, 224, 245, 0) 100%
  );
}
.why h2 {
  font-weight: bold;
  font-size: 35px;
  line-height: 42px;
  padding-bottom: 112px;
}
.why h6 {
  height: 5rem;
}

/* learn individual elements styles */
.learn-fluid img {
  width: 100%;
  max-height: 80vh;
}
.learn {
  padding-top: 100px;
  padding-bottom: 110px;
  background: radial-gradient(
    56.44% 71.2% at 50% 147.67%,
    #b6e0f5 0%,
    rgba(182, 224, 245, 0) 100%
  );
}
.learn h1 {
  font-weight: bold;
  font-size: 48px;
  line-height: 58px;
}
.learn-desc {
  position: relative;
}
.learn-desc-abs {
  position: absolute;
  bottom: 0;
}

/* framework individual elements styles */
.framework {
  padding-top: 111px;
  padding-bottom: 104px;
}
.framework h2 {
  font-weight: bold;
  font-size: 35px;
  line-height: 42px;
  padding-bottom: 44px;
}
.framework-bg {
  background: radial-gradient(
    50% 50% at 50% 50%,
    #b6e0f5 0%,
    rgba(255, 255, 255, 0) 100%
  );
}
.framework-img-wrap {
  position: relative;
}
.framework-img-under {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  margin: auto;
}
.framework-img-over {
  position: absolute;
  top: 30px;
  left: 0;
  right: 0;
  margin: auto;
  z-index: 2;
}
.h-11r {
  height: 11rem;
}
.h-10r {
  min-height: 8rem;
}
.h-20r {
  min-height: 20rem;
  height: 100%;
}
.h-30r {
  height: 30rem;
}
/* expertise individual elements styles */
.expertise {
  padding-top: 84px;
  padding-bottom: 86px;
}
.expertise h2 {
  font-weight: bold;
  font-size: 35px;
  line-height: 42px;
  padding-bottom: 55px;
}

/* corporate individual elements styles */
.corporate {
  padding-top: 110px;
  padding-bottom: 110px;
}
.corporate h2 {
  font-weight: bold;
  font-size: 35px;
  line-height: 42px;
  padding-bottom: 37px;
}
.blue-card {
  position: relative;
}

.blue-card img {
  position: absolute;
  z-index: -1;
  width: 97%;
  max-height: 100%;
}
.blue-card p {
  font-size: 20px;
  line-height: 162%;
}
.blue-card-desc h6 {
  font-size: 24px;
  line-height: 38px;
  font-weight: bold;
}

/* program individual elements styles */
.program-fluid img {
  width: 100%;
  max-height: 80vh;
}
.program {
  position: relative;
  padding-top: 70px;
  padding-bottom: 106px;
}
.program h2 {
  font-weight: bold;
  font-size: 35px;
  line-height: 42px;
  padding-bottom: 34px;
}
.program-bg {
  background: radial-gradient(
    74.06% 49.47% at 50% -9.54%,
    #adffe1 0%,
    rgba(246, 246, 246, 0) 100%
  );
  height: 30rem;
  position: absolute;

  bottom: 0;
  transform: rotate(180deg);
  z-index: -1;
}

@media only screen and (max-width: 992px) {
  .framework-img-under {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    left: 0;
    right: 0;
    margin: auto;
    max-width: 100%;
  }
}
@media only screen and (max-width: 576px) {
  .blue-card {
    position: relative;
    height: 100%;
    max-width: 98%;
  }
  .blue-card-desc h6 {
    font-size: 18px;
  }
  .blue-card-desc p {
    font-size: 14px;
  }
  .blue-card img {
    position: absolute;
    z-index: -1;
    width: 97%;
    height: 100%;
  }
  .border-r,
  .border-btm {
    border: none;
  }
}
