@font-face {
  font-family: 'icomoon';
  src:  url('fonts/icomoon.eot?in6o5h');
  src:  url('fonts/icomoon.eot?in6o5h#iefix') format('embedded-opentype'),
    url('fonts/icomoon.ttf?in6o5h') format('truetype'),
    url('fonts/icomoon.woff?in6o5h') format('woff'),
    url('fonts/icomoon.svg?in6o5h#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: never;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-Digital-Marketing:before {
  content: "\e900";
}
.icon-Data:before {
  content: "\e901";
}
.icon-Entrepreneurship:before {
  content: "\e902";
}
.icon-Coding:before {
  content: "\e903";
}
.icon-E-commerce:before {
  content: "\e904";
}
.icon-6:before {
  content: "\e906";
}
.icon-B2B-Marketing:before {
  content: "\e912";
}
.icon-Saudi-Retail-School:before {
  content: "\e914";
}
.icon-Entrepreneurship-2:before {
  content: "\e915";
}
.icon-Social-Media:before {
  content: "\e916";
}
.icon-1:before {
  content: "\e918";
}
.icon-5:before {
  content: "\e919";
}
.icon-2:before {
  content: "\e91a";
}
.icon-3:before {
  content: "\e91b";
}
